@{
    ViewData["Title"] = "Acesso Negado";
}

<div class="container py-5">

    <h1 class="text-center pt-5">Acesso Negado!</h1>

    <h5 class="text-center">Área exclusiva para usuários logados.</h5>

    <div class="py-5"></div>

    <div class="mt-5 text-center">
        <button class="btn btn-dark" onclick="javascript:history.back();"><i class="fa-solid fa-arrow-left"></i> Voltar</button>
    </div>

</div>

<div class="py-5"></div>
<div class="py-5"></div>